



<h2>Vehicles</h2>


<p [routerLink] = "['/vehicles/new']" class="btn btn-primary">New Vehicle</p>
<div class="well">
  <div class="form-group">
    <label for="make">Make</label>
    <select name="" id="make" class="form-control" [(ngModel)]="query.makeId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Reset</button>

</div>
<table class ="table">
  <thead>
    <tr>
      <th *ngFor ="let c of columns" >
       <div *ngIf = "c.isSortable" (click)="sortBy(c.key)">
          {{ c.title }}
          <i *ngIf="query.sortBy === c.key" 
          class="fa" 
          [class.fa-sort-asc]= "query.isSortAscending"
          [class.fa-sort-desc]= "!query.isSortAscending">
          </i>
       </div>
       <div *ngIf = "!c.isSortable">
        {{ c.title }}
       </div>
      </th>
    </tr>
  </thead>
  <tr *ngFor="let v of queryResult.items">
    <th>{{v.id}}</th>
    <th>{{v.make.name}}</th>
    <th>{{v.model.name}}</th>
    <th>{{v.contact.name}} </th>
    <th></th>
  </tr>
</table>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>